@{
    ViewBag.Title = "Контакты";
}

<h2 class="textTitelDelivery">Контакты</h2>

<p style="margin-left: 15px;" class="textforDelivery">Украина, Днепропетровская обл., г. Днепр</p>
<p style="margin-left: 15px;" class="textforDelivery">Контактный телефон: +3 8(093) 887 16 63,  +3 8(067) 652 67 11</p>
<p style="margin-left: 15px; padding: 0px 0px;" class="textshippinOrder">Мы в социальных сетях:</p>
<p style="margin-left: 15px;" >
    <a target="_blank" href="https://www.instagram.com/woonshpoonsh/"><img style="margin-left: 10px; " src="~/Image/SocialIcons/instagram.png" /></a>
    <a target="_blank" href="https://www.facebook.com/woonsh.poonsh.1?fref=ts"><img style="margin-left: 10px; " src="~/Image/SocialIcons/facebook.png" /></a>
    <a target="_blank" href="https://vk.com/woonshpoonsh2016"><img style="margin-left: 10px; " src="~/Image/SocialIcons/vk (2).png" /></a>
</p>
