@{
    ViewBag.Title = "Отзывы";
}

<h2 style="text-align: center;" class="textTitelDelivery">
    Отзывы
</h2>

<div class="row">
    <div class="col-sm-6">
        <img src="~/Image/RewiewImage/review1.jpg" style=" max-width: 100%;" />
    </div>

    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/review2.jpg" style=" max-width: 100%;" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="~/Image/RewiewImage/uc11LtiANuA.jpg" style=" max-width: 100%;" />
    </div>

    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/OK89u4R3n6g.jpg" style=" max-width: 100%;"  />
    </div>
</div>

<div class="row" style=" margin-top: 20px; ">
    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/dQ5A-CopXFc.jpg" style=" max-width: 100%;"  />
    </div>

    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/fobwGiUXkQ.jpg" style=" max-width: 100%;"  />
    </div>
</div>


<div class="row" style=" margin-top: 20px; ">
    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/D-YKp1SNfQU.jpg" style=" margin-top: 10px;  max-width: 100%;"  />
    </div>

    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/C3XBaZ0JHEs.jpg" style=" margin-top: 10px;  max-width: 100%;"  />
    </div>
</div>


<div class="row" style=" margin-top: 20px; ">
    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/QS9NPwXucRE.jpg" style=" margin-top: 10px;  max-width: 100%;" />
    </div>

    <div class="col-sm-6 ">
        <img src="~/Image/RewiewImage/8t59ksX7_QI.jpg" style=" margin-top: 10px;  max-width: 100%;" />
    </div>
</div>
